.allExamples{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:#fff;
	color:#333;
	font-size:0.8em;
	padding-left:10px;
	padding-bottom:30px;}
a{	
	color:#126BAF;
	text-decoration:none;}
	
a:hover{
	text-decoration:underline;}
	
h1{
	font-size:160%;
	padding-top:40px;
	}
h2{
	width:85%;
	font-size:130%;
	padding-top:20px;
	border-bottom:solid 1px #555
	}
.who{
	color:#DA7600;
	font-weight:bold}
pre {
	font-family:"Andale Mono", Monaco, "Lucida Console","Bitstream Vera Sans Mono","Courier New",monospace;
	font-size:110%;
	color:#0B0;
	background-color:#333;
	line-height:1.5em;
	padding:10px;
	margin-left:20px;
	border:solid 1px #AAA
}
.note{
	color:#666;
	font-style:italic;
	padding-bottom:10px;
	padding-left:20px}

.codeHi{
	color:#DA7600
}
div.links{
	float:right;
	text-align:center;
	line-height:180%;
	background-color:#DEF;
	border:solid 1px #aaa;
	padding:5px}


div.feedback{
	float:left}
span.oops{
	background-color:#D00;
	color:#fff;
	font-size:150%;
}
/* all examples */
#pureMsg{width:100%;height:200px;background-color:#DEF}
.htmlDoc{width:90%;background-color:#def;}
.transformation{width:90%;background-color:#DEF;}
.demo{border:solid 1px #ccc;background-color:#def;padding:10px}
/*example 1*/
div#hello {
	border:solid 1px #AAA;
	font-size:110%;
	line-height:1.5em;
	width:30%;
	padding:10px;
	margin:20px;
}
/*example 2*/
table#teamList, table.players{
	border-collapse:collapse;
	margin:20px;
	width:200px
}	
td.score, th.score, td.position, th.position{
	text-align:right;
	border:solid 1px #aaa;
	padding:3px;
	width:30%
}
td.player, th.player{
	text-align:left;
	border:solid 1px #AAA;
	padding:3px;
}
th.score, th.player, th.position, .hover{
	background-color:#DA7600;
	color:#eee;
}
/*example 4*/
tr.odd{ 
	background-color: #FFF}
tr.even{
	background-color: #DFEFFF;
	color:#222}
tr.first{ 
	border-top: solid 2px #FA0}
tr.last{
	border-bottom:solid 2px #FA0}
/*example 4*/
table.scoreBoard{
	border-collapse:collapse;
	margin:20px;
	width:450px}
th.teamName, td.teamName{
	font-size:150%;
	text-align:left}
td.teamPlace{padding:5px}
table.teamList{
	width:100%;
	border-collapse:collapse}
.showSource{
	text-decoration:none;
	font-size:80%;
	color:#555;
}
.source{
	padding-top:5px;
}
/*All examples style*/
#pureRuntime{width:100%;height:200px;background-color:#DEF}
.htmlDoc{width:90%;background-color:#def;}
.transformation{width:90%;background-color:#DEF;}
.demo{border:solid 1px #ccc;background-color:#def;padding:10px}

/*timer*/
.timerMsg{padding:3px;}
.timerTime, .timerDuration{
	border-left:solid 1px #CCC;
	padding:3px;
	text-align:right;}
th.timerMsg, th.timerTime, th.timerDuration{
	border-bottom:solid 1px #CCC;
}
.timerTraceTable{
	border-collapse:collapse;}

.timerTrace{
	padding:10px}
.templates{
	display:none}
